 <div class="row justify-content-center mb-4">
          <h3>Homepage</h3>
        </div>
 <div class="row justify-content-center">
    {{!-- <!-- // if projects.length  -->
    <!-- {{#each posts as |post|}} --> --}}
    <div class="col-10">
    {{!-- <!-- href = /post/post.id --> --}}
    <a href="#">
        <div class="card mb-3">
        {{!-- <!-- post.title --> --}}
        <h5 class="card-header">Project Title</h5>
        <div class="card-body">
            {{!-- <!-- post.description --> --}}
            <p class="card-text">Post Description</p>
        </div>
        <!--END OF CARD BODY-->
        </div>
        <!--END OF CARD-->
    </a>
    </div>
    <!--END OF COL-->
    {{!-- <!-- {{/each}} --> --}}
</div>