<div class="row justify-content-center">
          <div class="col-10">
            <form class="new-post">
              <div class="mb-3">
                <h3>Create New Post</h3>
              </div>
              <div class="mb-3">
                <label for="post-title" class="form-label">Title</label>
                <textarea
                  class="form-control"
                  id="post-title"
                  rows="3"
                ></textarea>
              </div>
              <div class="mb-3">
                <label for="password-input" class="post-description"
                  >Content</label
                >
                <textarea
                  class="form-control"
                  id="post-description"
                  rows="3"
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary mt-3">Create</button>
            </form>
          </div>
        </div>
      </div>
<script src="./js/newpost.js"></script>