<div class="row justify-content-center">
  <div class="col-10">
    <form class="signup-form">
      <div class="mb-3">
        <h2>Sign Up</h2>
      </div>
      <div class="mb-3">
        <label for="name-input" class="form-label">username</label>
        <input type="input" class="form-control" id="name-input" />
      </div>
      <div class="mb-3">
        <label for="email-input" class="form-label"
          >Email address</label
        >
        <input
          type="email"
          class="form-control"
          id="email-input"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="password-input" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password-input"
        />
      </div>
      <div class="mb-3">
        <a href="/login">Sign In</a>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
</div>
<script src="./js/signup.js"></script>